@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Oswald&family=Zen+Tokyo+Zoo&display=swap');
@import './colors.scss';

$header-font: 'Zen Tokyo Zoo', cursive;
$body-font: 'Lato', sans-serif;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  color: $dark-blue;
}

body {
  font-family: $body-font;
}

h1 {
  margin: 0;
  font-size: 3.5em;
  letter-spacing: 0.25rem;
  font-family: $header-font;
  color: $light-blue;
}
