.navbar {
  font-size: 1.5rem;
  margin: 0 1.5rem 2rem 1.5rem;
  .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    .nav-link {
      color: $medium-blue;
      &:hover {
        color: $dark-blue;
      }
    }
    .active {
      color: $dark-blue;
    }
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    button {
      font-size: 1.5rem;
      color: $medium-blue;
      padding: 4px 8px;
      &:active {
        color: $dark-blue;
      }
    }
  }
}
