$light-purple: #cab8ff;
$light-blue: #b5deff;
$dark-blue: #1c315e;
$dark-purple: #a489f8;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App {
  // font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: grid;
  grid-template-rows: 0.7fr 5fr;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-areas:
    'header header header'
    ' . main .';
  justify-items: center;
}
header {
  grid-area: header;
  display: grid;
  justify-items: center;
}
main {
  grid-area: main;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1.5rem;
  justify-items: center;
  width: fit-content;
  .board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    column-gap: 0.3rem;
    row-gap: 0.3rem;
    justify-items: center;
    div {
      border: 2px solid $light-purple;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    input {
      border: none;
      width: 3.6rem;
      height: 3.6rem;
      padding: 0;
      text-align: center;
      color: $dark-blue;
      font-size: 2rem;
      &:focus {
        outline: none;
      }
    }
    .full {
      border: 2px solid $dark-purple;
    }
  }

  .keyboard {
    width: fit-content;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 0.4rem;
    height: fit-content;

    div[class*='key_row'] {
      display: flex;
      justify-content: center;
      div {
        margin-right: 0.4rem;
      }
      div.key_enter,
      div.key_del {
        button {
          width: 4.2rem;
          padding: 0.1rem;
          img {
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }
    button {
      height: 3.5rem;
      width: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.6rem;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      background-color: $light-blue;
      color: $dark-blue;
    }
  }
}
